@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("font-awesome.min.css");

 /*popup*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top:68.5px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.85); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #00b6d2;
    margin: auto;
    margin-top:20px;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height:80%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
    margin-right:5px;
    border:3px solid #2c2a2a;
}
.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#myBtn1{
    width: 100%;
    height: 100%;
}

#myBtn:hover{
    cursor: pointer;
}

#header {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(197, 195, 195, 0.55);
    height: 4.2em;
    line-height: 3em;
    box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);	
}

#header nav {
    position: absolute;
    right: 0.5em;
    top: 0;
    height: 3em;
    line-height: 3em;
}

#header nav ul {
     margin: 0;
}

#header nav ul li {
    display: inline-block;
    margin-left: 0.5em;
    font-size: 0.9em;
    padding-top: 10px; 
}

 #header nav ul li a {
    display: block;
    color: inherit;
    text-decoration: none;
    height: 3em;
    line-height: 3em;
    padding: 0 0.5em 0 0.5em;
    outline: 0;
    color:black;
}

#img1{
    height: 61px;
    width: 100px;
}
#img2{
    height: 60px;
    width: 70px;
    margin-left:50px; 
    padding-bottom: 8px;
}
#img3{
    height: 70px;
    width: 120px;
}
#img4{
    height: 60px;
    width: 100px;
}
nav ul li a:hover{
	border:solid 1.5px #00b6d2;
	border-radius: 20px;
    }
    
    #footer {
		position: relative;
		height: 5em;
		line-height: 5em;
		margin: 0;
		background: #39454b;
		color: rgba(185, 186, 187, 0.5);
		overflow: hidden;		
	}

		#footer a {
			color: inherit;
		}

			#footer a:hover {
				color: #b9babb;
			}

		#footer ul.actions {
			position: absolute;
			left: 1em;
			top: 0.25em;
			height: 5em;
			line-height: 5em;
			margin: 0;
		}

			#footer ul.actions li {
				font-size: 1.25em;
				margin: 0;
			}

				#footer ul.actions li a {
					padding: 0.5em;
				}

		#footer ul.menu {
			position: absolute;
			right: 2em;
			top: 0;
			height: 5em;
			line-height: 5em;
			margin: 0;
		}

			#footer ul.menu li {
				border-left-color: rgba(185, 186, 187, 0.2);
				font-size: 0.9em;
			}

		@media screen and (max-width: 1000px) {

			#footer {
				height: auto;
				line-height: inherit;
				text-align: center;
				padding: 2em 1em 2em 1em;
			}

				#footer ul.actions {
					position: relative;
					left: 0;
					top: 0;
					height: auto;
					line-height: inherit;
					margin: 0 0 1.2em 0;
				}

				#footer ul.menu {
					position: relative;
					right: 0;
					top: 0;
					height: auto;
					line-height: inherit;
				}

		}

		@media screen and (max-width: 736px) {

			#footer ul.menu li {
				border-left: 0;
				padding: 1em 0 0 0;
				margin: 0;
				display: block;
			}

				#footer ul.menu li:first-child {
					padding-top: 0;
				}

				#footer ul.menu li a {
					line-height: 1.5em;
				}

		}
        ul.actions {
            cursor: default;
        }
    
            ul.actions li {
                display: inline-block;
                margin: 0 0 0 0.5em;
            }
    
                ul.actions li:first-child {
                    margin-left: 0;
                }
                ul.menu {
                    cursor: default;
                }
                ul.menu li {
                    display: inline-block;
                    line-height: 1em;
                    border-left: solid 1px #e5e6e7;
                    padding: 0 0 0 0.5em;
                    margin: 0 0 0 0.5em;
                }
        
                    ul.menu li:first-child {
                        border-left: 0;
                        padding-left: 0;
                        margin-left: 0;
                    }
                    label {
                        display: block;
                    }
                    .icon > .label {
                        display: none;
                    }

                    

                    #img11{
                        display: none;
                    }
                    #img22{
                        display: none;
                    }
                    #img33{
                        display: none;
                    }
                    #img44{
                        display: none;
                    }

                    @media screen and (max-width: 750px){
                        /*menu*/
                        #img1{
                            display: none;
                        }
                        #img2{
                            display: none;
                        }
                        #img3{
                            display: none;
                        }
                        #img4{
                            display: none;
                        }
                        nav ul li a{
                            font-size:0.2em;
                        }
                        #footerMedia{
                            display: block;
                            bottom: 0px;
                            position: fixed;
                            z-index: 10000;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            background: rgba(197, 195, 195, 0.55);
                            height: 3.7em;
                            line-height: 3em;
                            box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
                        }
                        #img11{
                            display: inline;
                            width:100px;
                            height: 50px;
                        }
                        #img22{
                            display: inline;
                            width:60px;
                            height: 50px;
                        }
                        #img33{
                            display: inline;
                            width:100px;
                            height: 50px;
                        }
                        #img44{
                            display: inline;
                            width:100px;
                            height: 50px;
                        }
                        .MenuA{
                         font-size: 0px;
                        }
                    }
                    

                    #MenuA{
                        border:solid 1.5px #00b6d2;
	                    border-radius: 20px;
                    }


                    @media screen and (max-width: 736px){
                        nav ul li a:hover{
                            border:0px;
                        } 
                        #MenuA{
                            border:0px;
                        } 
            
                    }

                    #TitrePlan{
                        padding-left: 78%; 
                        padding-top:1%;
                    }
                    .Article{
                        color:#00b6d2;
                        text-decoration: underline #fbed00;
                    }
                    .TitreCSA{
                    color:#747679;
                    }

                    .icon {
                        text-decoration: none;
                    }
                
                        .icon:before {
                            display: inline-block;
                            font-family: FontAwesome;
                            font-size: 1.25em;
                            text-decoration: none;
                            font-style: normal;
                            font-weight: normal;
                            line-height: 1;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                        }
                        ul.icons {
                            cursor: default;
                        }
                    
                            ul.icons li {
                                display: inline-block;
                            }
                    
                            ul.icons a {
                                display: inline-block;
                                width: 2em;
                                height: 2em;
                                line-height: 2em;
                                text-align: center;
                                border: 0;
                            }
                    